{% extends 'admin/layouts/base.html' %}

{% block title %}
<title>文档列表</title>
{% endblock %}

{% block content %}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header ui-board-title">文档列表</div>
                <div class="layui-card-body" pad15>

                    <blockquote class="layui-elem-quote layui-hide"></blockquote>

                    <table class="layui-hide " id="LAY-app-content-list" lay-filter="LAY-app-content-list"
                           data-url="{{ url_for('admin.document_index') }}">

                    </table>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block js %}
    {% raw %}
    <script type="text/html" id="action_menu">
        <div class="layui-btn-group">
            <button class="layui-btn layui-btn-sm layui-btn-warm" title="编辑" lay-event="edit"><i
                    class="layui-icon layui-icon-edit"></i></button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" title="删除" lay-event="del"><i
                    class="layui-icon layui-icon-delete"></i></button>

        </div>

    </script>

    <script type="text/html" id="switchTpl">

        <input type="checkbox" name="target" value="{{ d.id}}" data-type="checkbox" lay-filter="switch"
               lay-skin="switch" lay-text="是|否" {{ d.target== 1 ? 'checked' : '' }}>
    </script>

    <script type="text/html" id="checkboxTpl">
        <input type="checkbox" name="active" title="激活" value="{{ d.id}}" data-type="checkbox" lay-filter="lock" {{
               d.active== 1 ? 'checked' : '' }} >
    </script>

    <script type="text/html" id="commentTpl">
        <input type="checkbox" name="open_comment" title="允许" value="{{ d.id}}" data-type="checkbox" lay-filter="lock"
               {{ d.open_comment== 1 ? 'checked' : '' }} >
    </script>

     <script type="text/html" id="originalTpl">
        <input type="checkbox" name="is_original" title="原创" value="{{ d.id}}" data-type="checkbox" lay-filter="lock"
               {{ d.is_original== 1 ? 'checked' : '' }} >
    </script>

    {% endraw %}
    <script src="{{ url_for('static',filename='admin/js/document.js') }}"></script>
    {% endblock %}